<template>
  <div>
    <a-spin :loading="loading">
      <a-col :flex="1">
        <a-form
          :label-col-props="{ span: 6 }"
          :wrapper-col-props="{ span: 18 }"
          label-align="left"
        >
          <a-col :span="13">
            <a-form-item :label="$t('resourceOccupancy.chooseyourtime')">
              <a-slider
                v-model="timeGap"
                :style="{ width: '300px' }"
                :max="1440"
                :marks="marks"
              />
            </a-form-item>
          </a-col>
        </a-form>
      </a-col>
      <a-card class="general-card">
        <a-grid :cols="24" :col-gap="12" :row-gap="12">
          <a-grid-item
            :span="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12, xxl: 12 }"
          >
            <div class="content-wrap">
              <div class="chart">
                <div class="chart-title">{{
                  $t('usageChart.title.Memory')
                }}</div>
                <div class="usage"
                  >{{ $t('usageChart.currentUsage') }}：{{
                    memoryChartsData[memoryChartsData.length - 1]
                  }}%</div
                >
                <Chart
                  style="width: 100%; height: 280px"
                  :option="memoryChartOption"
                />
              </div>
            </div>
          </a-grid-item>
          <a-grid-item
            :span="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12, xxl: 12 }"
          >
            <div class="content-wrap">
              <div class="chart">
                <div class="chart-title">{{ $t('usageChart.title.CPU') }}</div>
                <div class="usage"
                  >{{ $t('usageChart.currentUsage') }}：{{
                    cpuChartsData[cpuChartsData.length - 1]
                  }}%</div
                >
                <Chart
                  style="width: 100%; height: 280px"
                  :option="cpuChartOption"
                />
              </div>
            </div>
          </a-grid-item>
          <a-grid-item
            :span="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12, xxl: 12 }"
          >
            <div class="content-wrap">
              <div class="chart">
                <div class="chart-title">{{
                  $t('usageChart.title.diskSpace')
                }}</div>
                <div class="usage"
                  >{{ $t('usageChart.currentUsage') }}：{{
                    diskSpaceChartsData[diskSpaceChartsData.length - 1]
                  }}%</div
                >
                <Chart
                  style="width: 100%; height: 280px"
                  :option="diskSpaceChartOption"
                />
              </div>
            </div>
          </a-grid-item>
          <a-grid-item
            :span="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12, xxl: 12 }"
          >
            <div class="content-wrap">
              <div class="chart">
                <div class="chart-title">{{
                  $t('usageChart.title.network')
                }}</div>
                <div class="usage"
                  >{{ $t('usageChart.currentSpeed') }}：{{
                    networkChartsData[networkChartsData.length - 1]
                  }}B</div
                >
                <Chart
                  style="width: 100%; height: 280px"
                  :option="networkChartOption"
                />
              </div>
            </div>
          </a-grid-item>
        </a-grid>
      </a-card>
    </a-spin>
  </div>
</template>

<script lang="ts" setup>
  import { ref, watch } from 'vue';
  import useLoading from '@/hooks/loading';
  import { queryResourceOccupancy } from '@/api/visualization';
  import { ToolTipFormatterParams } from '@/types/echarts';
  import useChartOption from '@/hooks/chart-option';
  import { useRoute } from 'vue-router';

  const route = useRoute();
  //   console.log(router.query.virtualId);
  const tooltipItemsHtmlString = (items: ToolTipFormatterParams[]) => {
    return items
      .map(
        (el) => `<div class="content-panel">
          <p>
            <span style="background-color: ${el.color}" class="tooltip-item-icon"></span>
            <span>${el.seriesName}</span>
          </p>
          <span class="tooltip-value">
          ${el.value}%
          </span>
        </div>`
      )
      .join('');
  };

  const marks = ref({
    0: '0',
    120: '2h',
    720: '12h',
    1440: '24h',
  });
  const timeGap = ref(20);
  const { loading, setLoading } = useLoading(true);
  const xAxis = ref<Date[]>([]);
  const memoryChartsData = ref<number[]>([]);
  const cpuChartsData = ref<number[]>([]);
  const diskSpaceChartsData = ref<number[]>([]);
  const networkChartsData = ref<number[]>([]);
  const { chartOption: memoryChartOption } = useChartOption((isDark) => {
    return {
      grid: {
        left: '40',
        right: 0,
        top: '20',
        bottom: '80',
      },
      legend: {
        bottom: 0,
        icon: 'circle',
        textStyle: {
          color: '#4E5969',
        },
      },
      xAxis: {
        type: 'category',
        data: xAxis.value,
        boundaryGap: false,
        axisLine: {
          lineStyle: {
            color: isDark ? '#3f3f3f' : '#A9AEB8',
          },
        },
        axisTick: {
          show: true,
          lineStyle: {
            color: '#86909C',
          },
          interval(idx: number) {
            if (idx === 0) return false;
            if (idx === xAxis.value.length - 1) return false;
            return true;
          },
        },
        axisLabel: {
          color: '#86909C',
          formatter(value: number, idx: number) {
            const tempDate = new Date(value);
            const hour = tempDate.getHours();
            const min = tempDate.getMinutes();
            const sec = tempDate.getSeconds();
            const showTime = `${hour}:${min}:${sec}`;
            if (idx === 0) return '';
            if (idx === xAxis.value.length - 1) return '';
            return `${showTime}`;
          },
        },
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          color: '#86909C',
          formatter: '{value}%',
        },
        splitLine: {
          lineStyle: {
            color: isDark ? '#3F3F3F' : '#E5E6EB',
          },
        },
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        formatter(params) {
          const [firstElement] = params as ToolTipFormatterParams[];
          const tempDate = new Date(firstElement.axisValueLabel);
          const hour = tempDate.getHours();
          const min = tempDate.getMinutes();
          const sec = tempDate.getSeconds();
          const showTime = `${hour}:${min}:${sec}`;
          return `<div>
              <p class="tooltip-title">当前时间：${showTime}</p>
              ${tooltipItemsHtmlString(params as ToolTipFormatterParams[])}
            </div>`;
        },
        className: 'echarts-tooltip-diy',
      },
      series: {
        name: '内存占用率',
        data: memoryChartsData.value,
        type: 'line',
        smooth: true,
        showSymbol: false,
        color: isDark ? '#3D72F6' : '#246EFF',
        symbol: 'circle',
        symbolSize: 10,
        emphasis: {
          focus: 'series',
          itemStyle: {
            borderWidth: 2,
            borderColor: '#E0E3FF',
          },
        },
      },
      dataZoom: [
        {
          bottom: 40,
          type: 'slider',
          left: 40,
          right: 14,
          height: 14,
          borderColor: 'transparent',
          handleIcon:
            'image://http://p3-armor.byteimg.com/tos-cn-i-49unhts6dw/1ee5a8c6142b2bcf47d2a9f084096447.svg~tplv-49unhts6dw-image.image',
          handleSize: '20',
          handleStyle: {
            shadowColor: 'rgba(0, 0, 0, 0.2)',
            shadowBlur: 4,
          },
          brushSelect: false,
          backgroundColor: isDark ? '#313132' : '#F2F3F5',
          showDetail: false,
        },
        {
          type: 'inside',
          start: 0,
          end: 100,
          zoomOnMouseWheel: false,
        },
      ],
    };
  });
  const { chartOption: cpuChartOption } = useChartOption((isDark) => {
    return {
      grid: {
        left: '40',
        right: 0,
        top: '20',
        bottom: '80',
      },
      legend: {
        bottom: 0,
        icon: 'circle',
        textStyle: {
          color: '#4E5969',
        },
      },
      xAxis: {
        type: 'category',
        data: xAxis.value,
        boundaryGap: false,
        axisLine: {
          lineStyle: {
            color: isDark ? '#3f3f3f' : '#A9AEB8',
          },
        },
        axisTick: {
          show: true,
          alignWithLabel: true,
          lineStyle: {
            color: '#86909C',
          },
          interval(idx: number) {
            if (idx === 0) return false;
            if (idx === xAxis.value.length - 1) return false;
            return true;
          },
        },
        axisLabel: {
          color: '#86909C',
          formatter(value: number, idx: number) {
            const tempDate = new Date(value);
            const hour = tempDate.getHours();
            const min = tempDate.getMinutes();
            const sec = tempDate.getSeconds();
            const showTime = `${hour}:${min}:${sec}`;
            if (idx === 0) return '';
            if (idx === xAxis.value.length - 1) return '';
            return `${showTime}`;
          },
        },
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          color: '#86909C',
          formatter: '{value}%',
        },
        splitLine: {
          lineStyle: {
            color: isDark ? '#3F3F3F' : '#E5E6EB',
          },
        },
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        formatter(params) {
          const [firstElement] = params as ToolTipFormatterParams[];
          const tempDate = new Date(firstElement.axisValueLabel);
          const hour = tempDate.getHours();
          const min = tempDate.getMinutes();
          const sec = tempDate.getSeconds();
          const showTime = `${hour}:${min}:${sec}`;
          return `<div>
              <p class="tooltip-title">当前时间：${showTime}</p>
              ${tooltipItemsHtmlString(params as ToolTipFormatterParams[])}
            </div>`;
        },
        className: 'echarts-tooltip-diy',
      },
      series: {
        name: 'CPU占用率',
        data: cpuChartsData.value,
        type: 'line',
        smooth: true,
        showSymbol: false,
        color: isDark ? '#A079DC' : '#00B2FF',
        symbol: 'circle',
        symbolSize: 10,
        emphasis: {
          focus: 'series',
          itemStyle: {
            borderWidth: 2,
            borderColor: '#E2F2FF',
          },
        },
      },
      dataZoom: [
        {
          bottom: 40,
          type: 'slider',
          left: 40,
          right: 14,
          height: 14,
          borderColor: 'transparent',
          handleIcon:
            'image://http://p3-armor.byteimg.com/tos-cn-i-49unhts6dw/1ee5a8c6142b2bcf47d2a9f084096447.svg~tplv-49unhts6dw-image.image',
          handleSize: '20',
          handleStyle: {
            shadowColor: 'rgba(0, 0, 0, 0.2)',
            shadowBlur: 4,
          },
          brushSelect: false,
          backgroundColor: isDark ? '#313132' : '#F2F3F5',
        },
        {
          type: 'inside',
          start: 0,
          end: 100,
          zoomOnMouseWheel: false,
        },
      ],
    };
  });
  const { chartOption: diskSpaceChartOption } = useChartOption((isDark) => {
    return {
      grid: {
        left: '40',
        right: 0,
        top: '20',
        bottom: '80',
      },
      legend: {
        bottom: 0,
        icon: 'circle',
        textStyle: {
          color: '#4E5969',
        },
      },
      xAxis: {
        type: 'category',
        data: xAxis.value,
        boundaryGap: false,
        axisLine: {
          lineStyle: {
            color: isDark ? '#3f3f3f' : '#A9AEB8',
          },
        },
        axisTick: {
          show: true,
          alignWithLabel: true,
          lineStyle: {
            color: '#86909C',
          },
          interval(idx: number) {
            if (idx === 0) return false;
            if (idx === xAxis.value.length - 1) return false;
            return true;
          },
        },
        axisLabel: {
          color: '#86909C',
          formatter(value: number, idx: number) {
            const tempDate = new Date(value);
            const hour = tempDate.getHours();
            const min = tempDate.getMinutes();
            const sec = tempDate.getSeconds();
            const showTime = `${hour}:${min}:${sec}`;
            if (idx === 0) return '';
            if (idx === xAxis.value.length - 1) return '';
            return `${showTime}`;
          },
        },
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          color: '#86909C',
          formatter: '{value}%',
        },
        splitLine: {
          lineStyle: {
            color: isDark ? '#3F3F3F' : '#E5E6EB',
          },
        },
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        formatter(params) {
          const [firstElement] = params as ToolTipFormatterParams[];
          const tempDate = new Date(firstElement.axisValueLabel);
          const hour = tempDate.getHours();
          const min = tempDate.getMinutes();
          const sec = tempDate.getSeconds();
          const showTime = `${hour}:${min}:${sec}`;
          return `<div>
              <p class="tooltip-title">当前时间：${showTime}</p>
              ${tooltipItemsHtmlString(params as ToolTipFormatterParams[])}
            </div>`;
        },
        className: 'echarts-tooltip-diy',
      },
      series: {
        name: '磁盘空间占用率',
        data: diskSpaceChartsData.value,
        type: 'line',
        smooth: true,
        showSymbol: false,
        color: isDark ? '#6CAAF5' : '#81E2FF',
        symbol: 'circle',
        symbolSize: 10,
        emphasis: {
          focus: 'series',
          itemStyle: {
            borderWidth: 2,
            borderColor: '#D9F6FF',
          },
        },
      },
      dataZoom: [
        {
          bottom: 40,
          type: 'slider',
          left: 40,
          right: 14,
          height: 14,
          borderColor: 'transparent',
          handleIcon:
            'image://http://p3-armor.byteimg.com/tos-cn-i-49unhts6dw/1ee5a8c6142b2bcf47d2a9f084096447.svg~tplv-49unhts6dw-image.image',
          handleSize: '20',
          handleStyle: {
            shadowColor: 'rgba(0, 0, 0, 0.2)',
            shadowBlur: 4,
          },
          brushSelect: false,
          backgroundColor: isDark ? '#313132' : '#F2F3F5',
        },
        {
          type: 'inside',
          start: 0,
          end: 100,
          zoomOnMouseWheel: false,
        },
      ],
    };
  });
  const { chartOption: networkChartOption } = useChartOption((isDark) => {
    return {
      grid: {
        left: '52',
        right: 0,
        top: '20',
        bottom: '80',
      },
      legend: {
        bottom: 0,
        icon: 'circle',
        textStyle: {
          color: '#4E5969',
        },
      },
      xAxis: {
        type: 'category',
        data: xAxis.value,
        boundaryGap: false,
        axisLine: {
          lineStyle: {
            color: isDark ? '#3f3f3f' : '#A9AEB8',
          },
        },
        axisTick: {
          show: true,
          alignWithLabel: true,
          lineStyle: {
            color: '#86909C',
          },
          interval(idx: number) {
            if (idx === 0) return false;
            if (idx === xAxis.value.length - 1) return false;
            return true;
          },
        },
        axisLabel: {
          color: '#86909C',
          formatter(value: number, idx: number) {
            const tempDate = new Date(value);
            const hour = tempDate.getHours();
            const min = tempDate.getMinutes();
            const sec = tempDate.getSeconds();
            const showTime = `${hour}:${min}:${sec}`;
            if (idx === 0) return '';
            if (idx === xAxis.value.length - 1) return '';
            return `${showTime}`;
          },
        },
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          color: '#86909C',
          formatter(value) {
            return `${value.toPrecision(1)}B`;
          },
        },
        splitLine: {
          lineStyle: {
            color: isDark ? '#3F3F3F' : '#E5E6EB',
          },
        },
      },
      tooltip: {
        show: true,
        trigger: 'axis',
        formatter(params) {
          const [firstElement] = params as ToolTipFormatterParams[];
          const tempDate = new Date(firstElement.axisValueLabel);
          const hour = tempDate.getHours();
          const min = tempDate.getMinutes();
          const sec = tempDate.getSeconds();
          const showTime = `${hour}:${min}:${sec}`;
          return `<div>
              <p class="tooltip-title">当前时间：${showTime}</p>
              ${tooltipItemsHtmlString(params as ToolTipFormatterParams[])}
            </div>`;
        },
        className: 'echarts-tooltip-diy',
      },
      series: {
        name: '网络速率',
        data: networkChartsData.value,
        type: 'line',
        smooth: true,
        showSymbol: false,
        color: isDark ? '#2F5597' : '#3B6ABF',
        symbol: 'circle',
        symbolSize: 10,
        emphasis: {
          focus: 'series',
          itemStyle: {
            borderWidth: 2,
            borderColor: '#D9F6FF',
          },
        },
      },
      dataZoom: [
        {
          bottom: 40,
          type: 'slider',
          left: 40,
          right: 14,
          height: 14,
          borderColor: 'transparent',
          handleIcon:
            'image://http://p3-armor.byteimg.com/tos-cn-i-49unhts6dw/1ee5a8c6142b2bcf47d2a9f084096447.svg~tplv-49unhts6dw-image.image',
          handleSize: '20',
          handleStyle: {
            shadowColor: 'rgba(0, 0, 0, 0.2)',
            shadowBlur: 4,
          },
          brushSelect: false,
          backgroundColor: isDark ? '#313132' : '#F2F3F5',
        },
        {
          type: 'inside',
          start: 0,
          end: 100,
          zoomOnMouseWheel: false,
        },
      ],
    };
  });
  const fetchData = async () => {
    setLoading(true);
    try {
      const { data } = await queryResourceOccupancy({
        virtualId: route.query.virtualId,
        time: timeGap.value,
      });
      xAxis.value.length = 0;
      memoryChartsData.value.length = 0;
      cpuChartsData.value.length = 0;
      diskSpaceChartsData.value.length = 0;
      networkChartsData.value.length = 0;
      for (let i = data.length - 1; i >= 0; i -= 1) {
        xAxis.value.push(data[i].time);
        memoryChartsData.value.push(data[i].memory_usage);
        cpuChartsData.value.push(data[i].cpu_usage);
        diskSpaceChartsData.value.push(data[i].disk_space_usage);
        networkChartsData.value.push(data[i].network_usage);
      }
    } catch (err) {
      // you can report use errorHandler or other
    } finally {
      setLoading(false);
    }
  };
  const getIntervalData = async (virtualId) => {
    setLoading(true);
    try {
      const { data } = await queryResourceOccupancy({
        virtualId,
        counts: 1,
      });
      if (xAxis.value[xAxis.value.length - 1] === data[0].time) {
        return;
      }
      xAxis.value.push(data[0].time);
      memoryChartsData.value.push(data[0].memory_usage);
      cpuChartsData.value.push(data[0].cpu_usage);
      diskSpaceChartsData.value.push(data[0].disk_space_usage);
      networkChartsData.value.push(data[0].network_usage);
    } catch (err) {
      // you can report use errorHandler or other
    } finally {
      setLoading(false);
    }
  };
  fetchData();
  watch(
    timeGap,
    () => {
      fetchData();
    },
    {
      immediate: false,
      deep: true,
    }
  );
  const timer = setInterval(() => {
    const { virtualId } = route.query;
    if (!virtualId) {
      clearInterval(timer);
      return;
    }
    getIntervalData(virtualId);
  }, 5000);
</script>

<style scoped lang="less">
  .arco-spin {
    width: 100%;
  }

  .content-wrap {
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }

  .chart-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .usage {
    float: right;
  }
</style>
