<template>
  <div>
    <a-row class="grid-demo" style="margin-bottom: 16px">
      <a-col :span="6">
        <div class="card-wrap empty-wrap">
          <a-card
            :style="{ height: '308px' }"
            :bordered="false"
            hoverable
            @click="create"
          >
            <a-result :status="null" :title="$t('cardList.content.action')">
              <template #icon>
                <icon-plus style="font-size: 20px" />
              </template>
            </a-result>
          </a-card>
        </div>
      </a-col>
      <template v-for="item in renderData" :key="item.Id">
        <a-col :span="6">
          <a-card
            class="card-demo"
            :title="item.hostIp"
            hoverable
            :loading="loading"
          >
            <template #extra>
              <icon-plus
                @click="
                  () => {
                    data.addvirtualVisible = true;
                    virtualData.hostIp = item.hostIp;
                  }
                "
              />
            </template>
            <template #cover>
              <div
                :style="{
                  height: '180px',
                  overflow: 'hidden',
                }"
              >
                <a-table
                  :data="item.virtual_machines"
                  :show-header="false"
                  :hoverable="true"
                  :bordered="false"
                  :pagination="false"
                  :columns="columns"
                  :scroll="{ y: 180 }"
                  @cell-click="gotoDetail"
                >
                  <template #columns>
                    <a-table-column
                      title="virtualName"
                      data-index="virtualName"
                    >
                    </a-table-column>
                    <a-table-column
                      title="Optional"
                      style="z-index: 999; text-align: right"
                    >
                      <template #cell="{ record }">
                        <a-popconfirm
                          :content="$t('cardList.confirm.delete')"
                          :on-before-ok="deleteVirual"
                          @popup-visible-change="
                            () => {
                              deleteIdData.hostId = item.Id;
                              deleteIdData.virtualId = record.Id;
                            }
                          "
                        >
                          <a-button type="primary" size="mini" shape="round">
                            <template #icon>
                              <icon-delete />
                            </template>
                            <template #default>{{
                              $t('cardList.delete')
                            }}</template>
                          </a-button>
                        </a-popconfirm>
                      </template>
                    </a-table-column>
                  </template>
                </a-table>
              </div>
            </template>
            <template #actions>
              <a-popconfirm
                :content="$t('cardList.confirm.delete')"
                :on-before-ok="deleteHost"
                @popup-visible-change="
                  () => {
                    deleteIdData.hostId = item.Id;
                  }
                "
              >
                <a-button type="primary" size="small" shape="round">
                  <template #icon>
                    <icon-delete />
                  </template>
                  <template #default
                    >{{ $t('cardList.delete.host') }}
                  </template>
                </a-button>
              </a-popconfirm>
            </template>
          </a-card>
        </a-col>
      </template>
    </a-row>
    <a-modal
      :visible="data.addHostVisible"
      :on-before-ok="onSubmitClick"
      unmountOnClose
      @cancel="data.addHostVisible = false"
    >
      <template #title>
        {{ $t('cardList.host.addtitle') }}
      </template>
      <a-form
        ref="formRef"
        :model="formData"
        :label-col-props="{ span: 6 }"
        :wrapper-col-props="{ span: 18 }"
      >
        <a-form-item
          field="hostIp"
          :label="$t('stepForm.form.label.activityName')"
          :rules="[
            {
              required: true,
              message: $t('stepForm.form.error.activityName.required'),
            },
            {
              match:
                /^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$$/,
              message: $t('stepForm.form.error.activityName.pattern'),
            },
          ]"
        >
          <a-input
            v-model="formData.hostIp"
            :placeholder="$t('stepForm.placeholder.activityName')"
          />
        </a-form-item>
        <a-form-item
          field="username"
          :label="$t('stepForm.form.label.channelType')"
          :rules="[
            {
              required: true,
              message: $t('stepForm.form.error.channelType.required'),
            },
          ]"
        >
          <a-input
            v-model="formData.username"
            :placeholder="$t('stepForm.placeholder.channelType')"
          />
        </a-form-item>
        <a-form-item
          field="password"
          :label="$t('stepForm.form.label.promotionTime')"
          :rules="[
            {
              required: true,
              message: $t('stepForm.form.error.promotionTime.required'),
            },
          ]"
        >
          <a-input-password
            v-model="formData.password"
            allow-clear
            :placeholder="$t('stepForm.form.error.promotionTime.required')"
          />
        </a-form-item>
        <a-form-item
          field="port"
          :label="$t('stepForm.form.label.promoteLink')"
          :rules="[
            {
              required: true,
              message: $t('stepForm.form.error.promoteLink.required'),
            },
            {
              match: /^[0-9]+$/,
              message: $t('stepForm.form.error.promoteLink.pattern'),
            },
          ]"
          row-class="keep-margin"
        >
          <a-input
            v-model="formData.port"
            type="number"
            :placeholder="$t('stepForm.placeholder.promoteLink')"
          />
        </a-form-item>
      </a-form>
    </a-modal>
    <a-modal
      :visible="data.addvirtualVisible"
      :on-before-ok="addVirtual"
      unmountOnClose
      @cancel="data.addvirtualVisible = false"
    >
      <template #title>
        {{ $t('cardList.virtual.addtitle') }}
      </template>
      <a-form
        ref="virtualRef"
        :model="virtualData"
        :label-col-props="{ span: 6 }"
        :wrapper-col-props="{ span: 12 }"
      >
        <a-form-item
          :label="$t('cardList.virtual.name')"
          field="virtualName"
          :rules="[
            {
              required: true,
              message: $t('cardList.virtual.inputname'),
            },
          ]"
        >
          <a-input
            v-model="virtualData.virtualName"
            :placeholder="$t('cardList.virtual.inputname')"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import { useUserStore } from '@/store';
  import {
    queryInspectionList,
    ServiceRecord,
    addnew,
    remove,
  } from '@/api/list';
  import useRequest from '@/hooks/request';
  import { Message } from '@arco-design/web-vue';
  import { useI18n } from 'vue-i18n';
  import { reactive, ref } from 'vue';
  import { FormInstance } from '@arco-design/web-vue/es/form';
  import { BaseInfoModel } from '@/api/form';
  import { useRouter } from 'vue-router';

  const { t } = useI18n();
  const router = useRouter();
  const formRef = ref<FormInstance>();
  const virtualRef = ref<FormInstance>();
  const formData = ref<BaseInfoModel>({
    hostIp: '',
    username: '',
    password: '',
    port: 22,
  });
  const columns = [
    {
      title: 'virtualName',
      dataIndex: 'virtualName',
    },
    {
      title: 'Optional',
      dataIndex: 'Optional',
    },
  ];
  const virtualData = reactive({
    hostIp: '',
    virtualName: '',
  });
  const deleteIdData = reactive({
    hostId: 0,
    virtualId: 0,
  });
  const data = reactive({
    addHostVisible: false,
    addvirtualVisible: false,
  });
  const userStore = useUserStore();
  const defaultValue: ServiceRecord[] = new Array(3).fill({});
  const { loading, response: renderData } = useRequest<ServiceRecord[]>(
    queryInspectionList,
    defaultValue
  );

  const authenticate = () => {
    if (userStore.getRole() !== 'admin') {
      Message.error(t('cardList.host.failcreate'));
      return false;
    }
    return true;
  };

  const gotoDetail = (record, column) => {
    if (column.dataIndex !== 'virtualName') {
      return;
    }
    router.push({
      path: '/visualization/data-analysis',
      query: {
        virtualId: record.Id,
      },
    });
  };

  const addVirtual = async (done) => {
    if (!authenticate()) {
      done();
      return;
    }
    const res = await virtualRef.value?.validate();
    if (!res) {
      try {
        const resData = await addnew(virtualData);
        for (let i = 0; i < renderData.value.length; i += 1) {
          if (renderData.value[i].hostIp === virtualData.hostIp) {
            renderData.value[i].virtual_machines.push(resData.data);
            break;
          }
        }
        Message.success('success');
        data.addvirtualVisible = false;
      } catch (err) {
        // console.log(err);
      } finally {
        done();
      }
    } else {
      done();
    }
  };

  const deleteHost = async (done) => {
    if (!authenticate()) {
      done();
      return;
    }
    try {
      await remove({
        hostId: deleteIdData.hostId,
      });
      for (let i = 0; i < renderData.value.length; i += 1) {
        if (renderData.value[i].Id === deleteIdData.hostId) {
          renderData.value.splice(i, 1);
          break;
        }
      }
      Message.success('success');
    } catch (err) {
      // console.log(err);
    } finally {
      done();
    }
  };

  const deleteVirual = async (done) => {
    if (!authenticate()) {
      done();
      return;
    }
    try {
      await remove({
        virtualId: deleteIdData.virtualId,
      });
      for (let i = 0; i < renderData.value.length; i += 1) {
        if (renderData.value[i].Id === deleteIdData.hostId) {
          for (
            let j = 0;
            j < renderData.value[i].virtual_machines.length;
            j += 1
          ) {
            if (
              renderData.value[i].virtual_machines[j].Id ===
              deleteIdData.virtualId
            ) {
              renderData.value[i].virtual_machines.splice(j, 1);
              break;
            }
          }
        }
      }
      Message.success('success');
    } catch (err) {
      // console.log(err);
    } finally {
      done();
    }
  };

  const create = () => {
    if (!authenticate()) {
      return;
    }
    data.addHostVisible = true;
  };
  const onSubmitClick = async (done) => {
    if (!authenticate()) {
      done();
      return;
    }
    const res = await formRef.value?.validate();
    if (!res) {
      try {
        const resData = await addnew(formData.value);
        renderData.value.push(resData.data);
        Message.success('success');
        data.addHostVisible = false;
      } catch (err) {
        //    console.log(err)
      } finally {
        done();
      }
    } else {
      done();
    }
  };
</script>

<style scoped>
  .arco-icon-plus:hover {
    font-size: larger;
    cursor: pointer;
    transition: all 0.3s;
  }

  .grid-demo .arco-col {
    height: 350px;
    color: var(--color-white);
    line-height: 48px;
    text-align: center;
  }

  .arco-card {
    width: 260px;
  }
</style>
