<template>
  <div class="container">
    <Breadcrumb :items="['menu.list', 'menu.list.searchTable']" />
    <a-card class="general-card" :title="$t('menu.list.searchTable')">
      <a-row>
        <a-col :flex="1">
          <a-form
            :label-col-props="{ span: 6 }"
            :wrapper-col-props="{ span: 18 }"
            label-align="left"
          >
            <a-row :gutter="28">
              <a-col :span="13">
                <a-form-item :label="$t('searchTable.form.filterType')">
                  <a-select
                    v-model="chooseItem.hostId"
                    :options="filterTypeOptions"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="13">
                <a-form-item :label="$t('searchTable.form.status')">
                  <a-select
                    v-model="chooseItem.virtualId"
                    :options="statusOptions"
                  />
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-col>
        <a-divider style="height: 46px" direction="vertical" />
        <a-col :flex="'86px'" style="text-align: right">
          <a-space :size="18">
            <a-button type="primary" @click="search">
              <template #icon>
                <icon-search />
              </template>
              {{ $t('searchTable.form.search') }}
            </a-button>
          </a-space>
        </a-col>
      </a-row>
      <a-divider style="margin-top: 0" />
      <a-space :size="16" direction="vertical" fill>
        <a-descriptions
          :label-style="{
            textAlign: 'right',
            width: '200px',
            paddingRight: '10px',
            color: 'rgb(var(--gray-8))',
          }"
          size="large"
          :value-style="{ width: '400px' }"
          :title="$t('showTable.virtual.title')"
          :data="virtualInfo"
          :column="3"
        >
          <template #value="{ value, data }">
            <a-skeleton v-if="loading" :animation="true">
              <a-skeleton-line :widths="['200px']" :rows="1" />
            </a-skeleton>
            <template v-else>
              <template v-if="data.label === $t('showTable.virtual.state')">
                <a-tag v-if="value === 1" color="green">{{
                  $t('showTable.virtual.runing')
                }}</a-tag>
                <a-tag v-else color="red">{{
                  $t('showTable.virtual.stoping')
                }}</a-tag>
              </template>
              <template
                v-else-if="data.label === $t('showTable.virtual.cpu_counts')"
              >
                <a-tag>{{ value }} </a-tag>
              </template>
              <template v-else>
                <a-tag>{{ value }} </a-tag> <spam>MB</spam>
              </template>
            </template>
          </template>
        </a-descriptions>
      </a-space>
    </a-card>
  </div>
</template>

<script lang="ts" setup>
  import { computed, ref } from 'vue';
  import { useI18n } from 'vue-i18n';
  import useLoading from '@/hooks/loading';
  import useRequest from '@/hooks/request';
  import {
    queryInspectionList,
    ServiceRecord,
    getvirtualInfo,
  } from '@/api/list';
  import type { SelectOptionData } from '@arco-design/web-vue/es/select/interface';

  const { loading, setLoading } = useLoading(true);

  const defaultValue: ServiceRecord[] = new Array(3).fill({});
  const { response: renderData } = useRequest<ServiceRecord[]>(
    queryInspectionList,
    defaultValue
  );
  const { t } = useI18n();

  const chooseItem = ref({
    hostId: null,
    virtualId: null,
  });

  const filterTypeOptions = computed<SelectOptionData[]>(() => {
    const servers = [];
    for (let i = 0; i < renderData.value.length; i += 1) {
      servers.push({
        label: renderData.value[i].hostIp,
        value: renderData.value[i].Id,
      });
    }
    return servers;
  });
  const statusOptions = computed<SelectOptionData[]>(() => {
    const virtuals = [];
    for (let i = 0; i < renderData.value.length; i += 1) {
      if (renderData.value[i].Id === chooseItem.value.hostId) {
        for (
          let j = 0;
          j < renderData.value[i].virtual_machines.length;
          j += 1
        ) {
          virtuals.push({
            label: renderData.value[i].virtual_machines[j].virtualName,
            value: renderData.value[i].virtual_machines[j].Id,
          });
        }
        break;
      }
    }
    return virtuals;
  });

  const keys = [
    'cpu_counts',
    'state',
    'max_memory',
    'used_memory',
    'available',
    'actual',
    'unused',
    'rss',
  ];
  const virtualInfo = ref([]);
  setTimeout(() => {
    for (let i = 0; i < keys.length; i += 1) {
      const tString = `showTable.virtual.${keys[i]}`;
      virtualInfo.value.push({
        label: t(tString),
        value: 0,
      });
    }
  }, 1000);

  const search = async () => {
    setLoading(true);
    try {
      const { data } = await getvirtualInfo({
        virtualId: chooseItem.value.virtualId,
      });
      for (let i = 0; i < keys.length; i += 1) {
        virtualInfo.value[i].value = data[keys[i]];
      }
    } catch (err) {
      //   console.log(err);
    } finally {
      setLoading(false);
    }
  };
</script>

<script lang="ts">
  export default {
    name: 'SearchTable',
  };
</script>

<style scoped lang="less">
  .container {
    padding: 0 20px 20px 20px;
  }

  :deep(.arco-table-th) {
    &:last-child {
      .arco-table-th-item-title {
        margin-left: 16px;
      }
    }
  }
</style>
