<template>
  <div class="container">
    <a-space direction="vertical" :size="16" fill>
      <div>
        <VirtualMachineDetails />
      </div>
    </a-space>
  </div>
</template>

<script lang="ts" setup>
  import VirtualMachineDetails from './components/virtual-machine-details.vue';
</script>

<script lang="ts">
  export default {
    name: 'DataAnalysis',
  };
</script>

<style scoped lang="less">
  .container {
    padding: 10px;
  }
</style>
